<table border="1" class="dataframe" id="islstable">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Calibration Technique</th>
      <th>Sensor Data</th>
      <th>Algorithm</th>
      <th>Dataset</th>
      <th>Number of Test Subjects</th>
      <th>Testing Subject Characteristics</th>
      <th>Study Characteristics</th>
      <th>SBP Distribution STD</th>
      <th>DBP Distribution STD</th>
      <th>Reported Result</th>
      <th>SBP ED</th>
      <th>DBP ED</th>
      <th>SBP ED MOE</th>
      <th>DBP ED MOE</th>
      <th>Power</th>
      <th>Original Model Implementation Availability</th>
      <th>Exact Dataset/Pre-processing Code Availability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/bsn.2009.23">A h-Shirt-Based Body Sensor Network for Cuffless Calibration and Estimation of Arterial Blood Pressure (Gu et al., 2009)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>6</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>13.00</td>
      <td>NaN</td>
      <td>-3.0±12.6</td>
      <td>1.031746</td>
      <td>NaN</td>
      <td>1.186094</td>
      <td>NaN</td>
      <td>0.165480</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/8857373/">A Novel Method for Calibration-Based Cuff-Less Blood Pressure Estimation (Li et al., 2019)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>120.8</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>15.70</td>
      <td>10.80</td>
      <td>-1.73±16.07; -0.892±10.696</td>
      <td>0.976976</td>
      <td>1.009723</td>
      <td>0.176731</td>
      <td>0.182655</td>
      <td>0.997998</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/IJCNN48605.2020.9207294">A Probabilistic Beat-to-Beat Filtering Model for Continuous and Accurate Blood Pressure Estimation (Chen et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>120</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>22.00</td>
      <td>9.00</td>
      <td>-4.73±19.89; 0.57±10.97</td>
      <td>1.106083</td>
      <td>0.820419</td>
      <td>0.200771</td>
      <td>0.148919</td>
      <td>0.997893</td>
      <td><a href="https://github.com/zehuachenImperial">Unavailable. Check github profile.</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://iopscience.iop.org/article/10.1088/2057-1976/ab1a82/meta">Accelerometric patch probe for cuffless blood pressure evaluation from carotid local pulse wave velocity: Design, development, and in vivo experimental study (Arathy et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>13</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>10.59</td>
      <td>10.63</td>
      <td>1.69±5.24; 0.98±6.48</td>
      <td>2.020992</td>
      <td>1.640432</td>
      <td>1.271142</td>
      <td>1.031781</td>
      <td>0.333798</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://mhealth.jmir.org/2020/2/e16811">Accuracy of vital signs measurements by a smartwatch and a portable health device: validation study (Hahnen et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>85</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>15.00</td>
      <td>9.00</td>
      <td>0±13.5; 0±6.1</td>
      <td>1.111111</td>
      <td>1.475410</td>
      <td>0.241083</td>
      <td>0.320127</td>
      <td>0.981742</td>
      <td>NaN</td>
      <td><a href="https://easy.dans.knaw.nl/ui/datasets/id/easy-dataset:133082">Available upon request </a></td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/CISP-BMEI48845.2019.8966011">An Ambulatory Blood Pressure Monitoring System Based on the Uncalibrated Steps of the Wrist (Wu et al., 2019)</a></td>
      <td>subject split</td>
      <td>BCG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>15</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>17.30</td>
      <td>9.80</td>
      <td>3.08±4.29; 1.52±2.20</td>
      <td>4.032634</td>
      <td>4.454545</td>
      <td>2.311580</td>
      <td>2.553427</td>
      <td>0.379576</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/document/8938751/">Blood pressure estimation using photoplethysmogram signal and its morphological features (Hasanzadeh et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>942</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>25.64</td>
      <td>9.31</td>
      <td>0.09±10.38; 0.23±4.22</td>
      <td>2.470135</td>
      <td>2.206161</td>
      <td>0.158028</td>
      <td>0.141140</td>
      <td>1.000000</td>
      <td><a href="https://github.com/navidhasanzadeh/BPPPG">Available</a></td>
      <td><a href="https://github.com/navidhasanzadeh/BPPPG">Available. "Small Sample" uploaded to github. No pre-processing code.</a></td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/8513156/">Carotid local pulse wave velocity measurement using dual-element accelerometric patch probe (Arathy et al., 2018)</a></td>
      <td>subject split</td>
      <td>PPG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>14</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>15.64</td>
      <td>11.92</td>
      <td>3.04±7.15; 0.59±6.19</td>
      <td>2.187413</td>
      <td>1.925687</td>
      <td>1.310651</td>
      <td>1.153830</td>
      <td>0.356870</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-92997-0">Combined deep CNN–LSTM network-based multitasking learning architecture for noninvasive continuous blood pressure estimation using difference in ECG … (Jeong et al., 2021)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>10</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>12.21</td>
      <td>7.45</td>
      <td>0.0±1.6; 0.2±1.3</td>
      <td>7.631250</td>
      <td>5.730769</td>
      <td>5.754362</td>
      <td>4.321300</td>
      <td>0.262760</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/ICET.2018.8603612">Continuous and Noninvasive Blood Pressure Estimation by Two-Sensor Measurement of Pulse Transit Time (Rasool et al., 2018)</a></td>
      <td>subject split</td>
      <td>PPG+pressure sensor</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>21</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>8.62</td>
      <td>NaN</td>
      <td>0±5.26; 0±7.71</td>
      <td>1.638783</td>
      <td>NaN</td>
      <td>0.764387</td>
      <td>NaN</td>
      <td>0.506639</td>
      <td><a href="https://github.com/Barissdal">Unavailable. Check github profile.</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S0933365719309674">Continuous blood pressure measurement from one-channel electrocardiogram signal using deep-learning techniques (Miao et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>428</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>19.54</td>
      <td>8.17</td>
      <td>-0.11±9.99; 0.01±6.29</td>
      <td>1.955956</td>
      <td>1.298887</td>
      <td>0.186048</td>
      <td>0.123549</td>
      <td>1.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S0933365719309674">Continuous blood pressure measurement from one-channel electrocardiogram signal using deep-learning techniques (Miao et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG</td>
      <td>deep learning</td>
      <td>MIMIC+Internal</td>
      <td>30</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>19.54</td>
      <td>8.17</td>
      <td>-0.22±5.82; -0.75±5.62</td>
      <td>3.357388</td>
      <td>1.453737</td>
      <td>1.275101</td>
      <td>0.552114</td>
      <td>0.662917</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1093/ajh/hpac020">Continuous Monitoring of Blood Pressure Using a Wrist-Worn Cuffless Device (Sayer et al., 2022)</a></td>
      <td>subject split</td>
      <td>biometrics+pressure sensor</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>34</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>24.20</td>
      <td>14.20</td>
      <td>0.2±10.1; 0.9±7.5</td>
      <td>2.396040</td>
      <td>1.893333</td>
      <td>0.848590</td>
      <td>0.670550</td>
      <td>0.718818</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9616476/">Continuous ppg-based blood pressure monitoring using multi-linear regression (Haddad et al., 2021)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>26</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>21.48</td>
      <td>11.78</td>
      <td>0±8.08; 0±6.22</td>
      <td>2.658416</td>
      <td>1.893891</td>
      <td>1.095022</td>
      <td>0.780108</td>
      <td>0.598752</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1145/3447993.3483241">Crisp-BP: continuous wrist PPG-based blood pressure measurement (Cao et al., 2021)</a></td>
      <td>subject split</td>
      <td>contact pressure+PPG</td>
      <td>deep learning</td>
      <td>Internal+MIMIC</td>
      <td>35</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.07</td>
      <td>11.81</td>
      <td>0.86±6.55; 1.67±7.31</td>
      <td>3.064122</td>
      <td>1.615595</td>
      <td>1.067929</td>
      <td>0.563079</td>
      <td>0.731556</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/8857304/">Cuff-less and Calibration-free Blood Pressure Estimation Using Convolutional Autoencoder with Unsupervised Feature Extraction (Zhang et al., 2019)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>62</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>19.30</td>
      <td>13.00</td>
      <td>0±7.75; 0±5.13</td>
      <td>2.490323</td>
      <td>2.534113</td>
      <td>0.637586</td>
      <td>0.648798</td>
      <td>0.932199</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/EMBC.2019.8856588">Cuff-less Blood Pressure Measurement Based on Deep Convolutional Neural Network (Liu et al., 2019)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>89</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>15.29</td>
      <td>10.17</td>
      <td>-2.06±6.89; -4.66±4.91</td>
      <td>2.219158</td>
      <td>2.071283</td>
      <td>0.470119</td>
      <td>0.438793</td>
      <td>0.985609</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1117/12.2502315">Cuff-less blood pressure measurement using fingertip photoplethysmogram signals and physiological characteristics (Yang et al., 2018)</a></td>
      <td>subject split</td>
      <td>biometrics+PPG</td>
      <td>deep learning</td>
      <td>PPG-BP</td>
      <td>21.9</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>0±12.57; 0±5.26</td>
      <td>1.621321</td>
      <td>2.112167</td>
      <td>0.737743</td>
      <td>0.961091</td>
      <td>0.524187</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1117/12.2502315">Cuff-less blood pressure measurement using fingertip photoplethysmogram signals and physiological characteristics (Yang et al., 2018)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>PPG-BP</td>
      <td>21.9</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>0±14.20; 0±7.79</td>
      <td>1.435211</td>
      <td>1.426187</td>
      <td>0.653058</td>
      <td>0.648952</td>
      <td>0.524187</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/tim.2019.2947103">Cuffless Deep Learning-Based Blood Pressure Estimation for Smart Wristwatches (Song et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>44</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>10.30</td>
      <td>9.40</td>
      <td>-3.0±6.0; -1.5±6.0</td>
      <td>1.716667</td>
      <td>1.566667</td>
      <td>0.527948</td>
      <td>0.481817</td>
      <td>0.826048</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1145/3300061.3345454">eBP: A Wearable System For Frequent and Comfortable Blood Pressure Monitoring From User's Ear (Bui et al., 2019)</a></td>
      <td>subject split</td>
      <td>contact pressure+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>30</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>10.67</td>
      <td>12.90</td>
      <td>1.8±7.2; -3.1±7.9</td>
      <td>1.481944</td>
      <td>1.632911</td>
      <td>0.562827</td>
      <td>0.620163</td>
      <td>0.662917</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/8589796/">Estimating blood pressure via artificial neural networks based on measured photoplethysmography waveforms (Priyanka et al., 2018)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>4</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>10.46</td>
      <td>6.26</td>
      <td>0.17±3.9; 0.3±1.8</td>
      <td>2.682051</td>
      <td>3.477778</td>
      <td>4.927964</td>
      <td>6.390021</td>
      <td>0.116565</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/EMBC.2018.8513211">Feasibility of Noninvasive Blood Pressure Measurement using a Chest-worn Patch Sensor (Selvaraj et al., 2018)</a></td>
      <td>subject split</td>
      <td>ECG+PCG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>14</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>7.95</td>
      <td>7.37</td>
      <td>-0.2±6.6; 0.6±5.5</td>
      <td>1.204545</td>
      <td>1.340000</td>
      <td>0.721738</td>
      <td>0.802899</td>
      <td>0.356870</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://gtusitecirculars.s3.amazonaws.com/uploads/PhDThesis_149997117002_TD_374601.pdf">Feature Extraction and Parameter Estimation of Vital Signs for Wearable Multi-Channel Patient Monitoring System (Arunbhai et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>9</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>18.00</td>
      <td>11.00</td>
      <td>1.91±15.91; -0.637±9.652</td>
      <td>1.131364</td>
      <td>1.139660</td>
      <td>0.922396</td>
      <td>0.929160</td>
      <td>0.238617</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/EMBC.2018.8513065">Finger-Wearable Blood Pressure Monitor (Narasimhan et al., 2018)</a></td>
      <td>subject split</td>
      <td>pressure sensor</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>29</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>10.20</td>
      <td>8.70</td>
      <td>0.9±6.9; -3.2±7.0</td>
      <td>1.478261</td>
      <td>1.242857</td>
      <td>0.572253</td>
      <td>0.481126</td>
      <td>0.647664</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1007/s00134-013-2964-2">Innovative continuous non-invasive cuffless blood pressure monitoring based on photoplethysmography technology (Ruiz-Rodríguez et al., 2013)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>47</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.83</td>
      <td>9.66</td>
      <td>-2.98±19.35; -3.65±8.69</td>
      <td>1.076486</td>
      <td>1.111623</td>
      <td>0.319485</td>
      <td>0.329913</td>
      <td>0.850380</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>241</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>30.15</td>
      <td>18.84</td>
      <td>0.02±5.93; 0.01±3.87</td>
      <td>5.084317</td>
      <td>4.868217</td>
      <td>0.646503</td>
      <td>0.619025</td>
      <td>1.000000</td>
      <td><a href="https://github.com/Ma-Chenbin/Pseudo-code-of-Algorithms-in-KD-Informer">Unavailable. Pseudo-code available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>241</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>26.40</td>
      <td>17.91</td>
      <td>0.013±6.237; 0.011±4.453</td>
      <td>4.232804</td>
      <td>4.022008</td>
      <td>0.538228</td>
      <td>0.511424</td>
      <td>1.000000</td>
      <td><a href="https://github.com/Ma-Chenbin/Pseudo-code-of-Algorithms-in-KD-Informer">Unavailable. Pseudo-code available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1038/ajh.2011.259">Measurement of central systolic blood pressure by pulse volume plethysmography with a noninvasive blood pressure monitor. (Sung et al., 2012)</a></td>
      <td>subject split</td>
      <td>contact pressure+ECG+PCG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>50</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.00</td>
      <td>10.00</td>
      <td>-2.1±6.3; 7.3±6.3</td>
      <td>3.174603</td>
      <td>1.587302</td>
      <td>0.911372</td>
      <td>0.455686</td>
      <td>0.871659</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1038/ajh.2011.259">Measurement of central systolic blood pressure by pulse volume plethysmography with a noninvasive blood pressure monitor. (Sung et al., 2012)</a></td>
      <td>subject split</td>
      <td>contact pressure+ECG+PCG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>50</td>
      <td>diseased</td>
      <td>interventional study</td>
      <td>12.90</td>
      <td>5.40</td>
      <td>0.4±6.3; 4.4±6.5</td>
      <td>2.047619</td>
      <td>0.830769</td>
      <td>0.587835</td>
      <td>0.238499</td>
      <td>0.871659</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://link.springer.com/article/10.1007/s11082-020-02667-0">Non-invasive cuff-less blood pressure estimation using a hybrid deep learning model (Yang et al., 2021)</a></td>
      <td>subject split</td>
      <td>biometrics+ECG+PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>9</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>17.60</td>
      <td>11.70</td>
      <td>3.23±4.75; 4.43±6.09</td>
      <td>3.705263</td>
      <td>1.921182</td>
      <td>3.020885</td>
      <td>1.566331</td>
      <td>0.238617</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1016/j.imed.2021.11.001">Non-invasive cuffless blood pressure and heart rate monitoring using impedance cardiography (Ghosh et al., 2021)</a></td>
      <td>subject split</td>
      <td>ICG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>24</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.00</td>
      <td>9.00</td>
      <td>2.33±4.60; 3.60±7.20</td>
      <td>4.347826</td>
      <td>1.250000</td>
      <td>1.875413</td>
      <td>0.539181</td>
      <td>0.563490</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1016/j.imed.2021.11.001">Non-invasive cuffless blood pressure and heart rate monitoring using impedance cardiography (Ghosh et al., 2021)</a></td>
      <td>subject split</td>
      <td>ICG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>10</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>13.00</td>
      <td>7.00</td>
      <td>1.79±3.80; 1.82±4.10</td>
      <td>3.421053</td>
      <td>1.707317</td>
      <td>2.579653</td>
      <td>1.287407</td>
      <td>0.262760</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://opus.lib.uts.edu.au/bitstream/10453/30160/1/01Front.pdf">Novel algorithms for cardiovascular parameters' estimation for long term monitoring systems (Al-Jaafreh et al., 2009)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>10</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>15.19</td>
      <td>9.54</td>
      <td>3.8±13.8; -5.0±8.6</td>
      <td>1.100725</td>
      <td>1.109302</td>
      <td>0.830004</td>
      <td>0.836472</td>
      <td>0.262760</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1145/3144730.3144737">Novel Statistical Post Processing to Improve Blood Pressure Estimation from Smartphone Photoplethysmogram (Datta et al., 2017)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>50</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.00</td>
      <td>11.00</td>
      <td>2.5±13.27; -1.5±8.41</td>
      <td>1.507159</td>
      <td>1.307967</td>
      <td>0.432678</td>
      <td>0.375494</td>
      <td>0.871659</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://medinform.jmir.org/2021/12/e29212">Prediction Algorithms for Blood Pressure Based on Pulse Wave Velocity Using Health Checkup Data in Healthy Korean Men: Algorithm Development and Validation (Park et al., 2021)</a></td>
      <td>subject split</td>
      <td>PPG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>90.9</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>12.80</td>
      <td>9.30</td>
      <td>2.25±7.69; 3.05±6.07</td>
      <td>1.664499</td>
      <td>1.532125</td>
      <td>0.348768</td>
      <td>0.321032</td>
      <td>0.987158</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://medinform.jmir.org/2021/12/e29212">Prediction Algorithms for Blood Pressure Based on Pulse Wave Velocity Using Health Checkup Data in Healthy Korean Men: Algorithm Development and Validation (Park et al., 2021)</a></td>
      <td>subject split</td>
      <td>PPG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>317.7</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>13.20</td>
      <td>7.90</td>
      <td>1.33±9.73; 0.09±6.63</td>
      <td>1.356629</td>
      <td>1.191554</td>
      <td>0.149985</td>
      <td>0.131735</td>
      <td>1.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://ojs.midem-drustvo.si/index.php/InfMIDEM/article/view/851">Real-time, Cuff-less and Non-invasive Blood Pressure Monitoring (Abolhasani et al., 2020)</a></td>
      <td>subject split</td>
      <td>ultrasound</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>211</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>11.28</td>
      <td>10.91</td>
      <td>-0.233±4.538; 0.118±4.218</td>
      <td>2.485677</td>
      <td>2.586534</td>
      <td>0.338137</td>
      <td>0.351857</td>
      <td>1.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.science.org/doi/abs/10.1126/scitranslmed.aap8674">Smartphone-based blood pressure monitoring via the oscillometric finger-pressing method (Chandrasekhar et al., 2018)</a></td>
      <td>subject split</td>
      <td>contact pressure+PPG</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>30</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>13.53</td>
      <td>12.57</td>
      <td>3.3±8.8; -5.6±7.7</td>
      <td>1.537500</td>
      <td>1.632468</td>
      <td>0.583927</td>
      <td>0.619994</td>
      <td>0.662917</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S0010482519302690">SVR ensemble-based continuous blood pressure prediction using multi-channel photoplethysmogram (Fong et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>40</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>15.43</td>
      <td>8.76</td>
      <td>0.171±6.57; 0.18±9.10</td>
      <td>2.348554</td>
      <td>0.962637</td>
      <td>0.760673</td>
      <td>0.311788</td>
      <td>0.788306</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://mhealth.jmir.org/2019/10/e14706/">Validation and acceptability of a cuffless wrist-worn wearable blood pressure monitoring device among users and health care professionals: mixed methods … (Islam et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>20</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>10.00</td>
      <td>6.00</td>
      <td>0.08±10.56; 2.46±7.67</td>
      <td>0.946970</td>
      <td>0.782269</td>
      <td>0.454709</td>
      <td>0.375624</td>
      <td>0.486656</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://mhealth.jmir.org/2019/10/e14706/">Validation and acceptability of a cuffless wrist-worn wearable blood pressure monitoring device among users and health care professionals: mixed methods … (Islam et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>20</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>10.00</td>
      <td>6.00</td>
      <td>0.08±10.56; 2.46±7.67</td>
      <td>0.946970</td>
      <td>0.782269</td>
      <td>0.454709</td>
      <td>0.375624</td>
      <td>0.486656</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/jsen.2020.2990648">Windkessel Model-Based Cuffless Blood Pressure Estimation Using Continuous Wave Doppler Ultrasound System (Jana et al., 2020)</a></td>
      <td>subject split</td>
      <td>ultrasound</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>21</td>
      <td>healthy+diseased</td>
      <td>interventional study</td>
      <td>14.29</td>
      <td>8.59</td>
      <td>-0.26±9.1; -0.08±7.85</td>
      <td>1.570330</td>
      <td>1.094268</td>
      <td>0.732458</td>
      <td>0.510405</td>
      <td>0.506639</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1007/S13534-019-00113-Z">A new approach for blood pressure estimation based on phonocardiogram (Omari et al., 2019)</a></td>
      <td>subject split</td>
      <td>biometrics+PCG</td>
      <td>deep learning+classical ML</td>
      <td>Internal</td>
      <td>37</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>13.31</td>
      <td>9.52</td>
      <td>6.48; 3.91</td>
      <td>1.638865</td>
      <td>1.942675</td>
      <td>0.553962</td>
      <td>0.656655</td>
      <td>0.755612</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.3390/s19153420">Blood Pressure Estimation from Photoplethysmogram Using a Spectro-Temporal Deep Neural Network (Slapničar et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>510</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>34.80</td>
      <td>18.40</td>
      <td>15.41; 12.38</td>
      <td>1.801842</td>
      <td>1.185870</td>
      <td>0.156906</td>
      <td>0.103267</td>
      <td>1.000000</td>
      <td><a href="https://github.com/gslapnicar/bp-estimation-mimic3">Available</a></td>
      <td><a href="https://github.com/gslapnicar/bp-estimation-mimic3">Available</a></td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/hora49412.2020.9152602">Comparison of Different Machine Learning Techniques for the Cuffless Estimation of Blood Pressure using PPG Signals (Kilickaya et al., 2020)</a></td>
      <td>subject split</td>
      <td>biometrics+PPG</td>
      <td>classical ML</td>
      <td>PPG-BP</td>
      <td>43.8</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>13.98; 8.39</td>
      <td>1.163154</td>
      <td>1.056555</td>
      <td>0.358603</td>
      <td>0.325738</td>
      <td>0.824310</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/access.2019.2942184">Cuffless and Continuous Blood Pressure Monitoring Using a Single Chest-Worn Device (Park et al., 2019)</a></td>
      <td>subject split</td>
      <td>PPG+SCG</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>20</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>12.28</td>
      <td>4.05</td>
      <td>6.89; 3.66</td>
      <td>1.422064</td>
      <td>0.882905</td>
      <td>0.682836</td>
      <td>0.423947</td>
      <td>0.486656</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/tbme.2016.2580904">Cuffless Blood Pressure Estimation Algorithms for Continuous Health-Care Monitoring (Kachuee et al., 2017)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>942</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>11.17; 5.35</td>
      <td>1.335760</td>
      <td>1.372063</td>
      <td>0.085456</td>
      <td>0.087778</td>
      <td>1.000000</td>
      <td><a href="https://github.com/mkachuee">Unavailable. Check github profile.</a></td>
      <td><a href="https://archive-beta.ics.uci.edu/ml/datasets/cuff+less+blood+pressure+estimation">Available</a></td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1101/2020.05.27.20107243">HYPE: Predicting Blood Pressure from Photoplethysmograms in a Hypertensive Population (Sasso et al., 2020)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning+classical ML</td>
      <td>EVAL Stress Test</td>
      <td>10</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>26.94</td>
      <td>13.20</td>
      <td>14.74; 7.12</td>
      <td>1.458277</td>
      <td>1.479224</td>
      <td>1.099618</td>
      <td>1.115413</td>
      <td>0.262760</td>
      <td><a href="https://github.com/arianesasso/aime-2020">Available</a></td>
      <td><a href="https://github.com/arianesasso/aime-2020">Available</a></td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>3000</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>3.52; 2.13</td>
      <td>4.238762</td>
      <td>3.446262</td>
      <td>0.151766</td>
      <td>0.123391</td>
      <td>1.000000</td>
      <td><a href="https://github.com/marshb/MLP-BP">Available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>deep learning</td>
      <td>MIMIC+UoQ</td>
      <td>32</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>4.39; 2.54</td>
      <td>3.398734</td>
      <td>2.889976</td>
      <td>1.244981</td>
      <td>1.058620</td>
      <td>0.691874</td>
      <td><a href="https://github.com/marshb/MLP-BP">Available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S156625351830767X">Multi-level information fusion for learning a blood pressure predictive model using sensor data (Simjanoska et al., 2020)</a></td>
      <td>subject split</td>
      <td>ECG</td>
      <td>classical ML</td>
      <td>CHARIS</td>
      <td>4.35</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.89</td>
      <td>11.76</td>
      <td>16.60; 9.24</td>
      <td>1.004085</td>
      <td>1.015489</td>
      <td>1.647071</td>
      <td>1.665779</td>
      <td>0.125124</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.3390/s18041160">Non-Invasive Blood Pressure Estimation from ECG Using Machine Learning Techniques (Simjanoska et al., 2018)</a></td>
      <td>subject split</td>
      <td>ECG</td>
      <td>classical ML</td>
      <td>CHARIS</td>
      <td>7.65</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.89</td>
      <td>11.76</td>
      <td>8.64; 18.20</td>
      <td>1.929144</td>
      <td>0.515556</td>
      <td>1.788002</td>
      <td>0.477836</td>
      <td>0.205793</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-01358-4">Pulse arrival time as a surrogate of blood pressure (Finnegan et al., 2021)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>30</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>18.30</td>
      <td>14.70</td>
      <td>5.4; 5.64</td>
      <td>2.703942</td>
      <td>2.079593</td>
      <td>1.026929</td>
      <td>0.789808</td>
      <td>0.662917</td>
      <td><a href="https://github.com/eoinf96/bp_est_ppg_ecg">Available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-01358-4">Pulse arrival time as a surrogate of blood pressure (Finnegan et al., 2021)</a></td>
      <td>subject split</td>
      <td>ECG+ICG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>30</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>18.30</td>
      <td>14.70</td>
      <td>5.7; 5.9</td>
      <td>2.561629</td>
      <td>1.987950</td>
      <td>0.972880</td>
      <td>0.755003</td>
      <td>0.662917</td>
      <td><a href="https://github.com/eoinf96/bp_est_ppg_ecg">Available</a></td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1088/1361-6579/abf889">Study of cuffless blood pressure estimation method based on multiple physiological parameters (Zhang et al., 2021)</a></td>
      <td>subject split</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>MIMIC+VitalDB</td>
      <td>667.4</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>20.38</td>
      <td>11.08</td>
      <td>10.03; 5.35</td>
      <td>1.621225</td>
      <td>1.652441</td>
      <td>0.123314</td>
      <td>0.125689</td>
      <td>1.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9101868/">The influence of physiological characteristics on blood pressure estimation using only PPG signals (Sen et al., 2019)</a></td>
      <td>subject split</td>
      <td>biometrics+PPG</td>
      <td>classical ML</td>
      <td>PPG-BP</td>
      <td>21.9</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>9.14; 5.27</td>
      <td>1.779091</td>
      <td>1.682068</td>
      <td>0.809532</td>
      <td>0.765384</td>
      <td>0.524187</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.osapublishing.org/abstract.cfm?uri=boe-12-12-7732">Towards a portable-noninvasive blood pressure monitoring system utilizing the photoplethysmogram signal (Dagamseh et al., 2021)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>179.2</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>24.00</td>
      <td>10.00</td>
      <td>4.69; 1.53</td>
      <td>4.082991</td>
      <td>5.214932</td>
      <td>0.603576</td>
      <td>0.770908</td>
      <td>1.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.researchgate.net/profile/Nikolas-Mastellos/publication/325333417_Wrist-worn_blood_pressure_tracking_in_healthy_free-living_individuals_using_neural_networks/links/5b3a0979a6fdcc8506e79a2b/Wrist-worn-blood-pressure-tracking-in-healthy-free-living-individuals-using-neural-networks.pdf">Wrist-worn blood pressure tracking in healthy free-living individuals using neural networks (Radha et al., 2018)</a></td>
      <td>subject split</td>
      <td>PPG</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>20</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>2.40</td>
      <td>2.00</td>
      <td>5.95; 4.95</td>
      <td>0.321836</td>
      <td>0.322378</td>
      <td>0.154537</td>
      <td>0.154797</td>
      <td>0.486656</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>