<table border="1" class="dataframe" id="ipertable">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Calibration Technique</th>
      <th>Sensor Data</th>
      <th>Algorithm</th>
      <th>Dataset</th>
      <th>Number of Test Subjects</th>
      <th>Testing Subject Characteristics</th>
      <th>Study Characteristics</th>
      <th>SBP Distribution STD</th>
      <th>DBP Distribution STD</th>
      <th>Reported Result</th>
      <th>SBP ED</th>
      <th>DBP ED</th>
      <th>SBP ED MOE</th>
      <th>DBP ED MOE</th>
      <th>Power</th>
      <th>Original Model Implementation Availability</th>
      <th>Exact Dataset/Pre-processing Code Availability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9721156/">A Comparison of Wearable Tonometry, Photoplethysmography, and Electrocardiography for Cuffless Measurement of Blood Pressure in an Ambulatory Setting (Mieloszyk et al., 2022)</a></td>
      <td>personalization</td>
      <td>accelerometer+ECG+PPG</td>
      <td>classical ML</td>
      <td>Aurora-BP</td>
      <td>100</td>
      <td>healthy+diseased</td>
      <td>interventional study</td>
      <td>10.30</td>
      <td>8.12</td>
      <td>0.361±8.94; 0.430±6.01</td>
      <td>1.152125</td>
      <td>1.351082</td>
      <td>0.229758</td>
      <td>0.269434</td>
      <td>0.992614</td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available</a></td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available upon request</a></td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9721156/">A Comparison of Wearable Tonometry, Photoplethysmography, and Electrocardiography for Cuffless Measurement of Blood Pressure in an Ambulatory Setting (Mieloszyk et al., 2022)</a></td>
      <td>personalization</td>
      <td>accelerometer+tonometer</td>
      <td>classical ML</td>
      <td>Aurora-BP</td>
      <td>100</td>
      <td>healthy+diseased</td>
      <td>interventional study</td>
      <td>10.30</td>
      <td>8.12</td>
      <td>0.855±8.66; 0.752±5.94</td>
      <td>1.189376</td>
      <td>1.367003</td>
      <td>0.237187</td>
      <td>0.272610</td>
      <td>0.992614</td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available</a></td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available upon request</a></td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9721156/">A Comparison of Wearable Tonometry, Photoplethysmography, and Electrocardiography for Cuffless Measurement of Blood Pressure in an Ambulatory Setting (Mieloszyk et al., 2022)</a></td>
      <td>personalization</td>
      <td>ECG</td>
      <td>classical ML</td>
      <td>Aurora-BP</td>
      <td>100</td>
      <td>healthy+diseased</td>
      <td>interventional study</td>
      <td>10.30</td>
      <td>8.12</td>
      <td>1.08±8.96; 1.32±5.94</td>
      <td>1.149554</td>
      <td>1.367003</td>
      <td>0.229245</td>
      <td>0.272610</td>
      <td>0.992614</td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available</a></td>
      <td><a href="https://github.com/microsoft/aurorabp-sample-data">Available upon request</a></td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9630063/">An investigation of the individualized, two-point calibration method for cuffless blood pressure estimation using pulse arrival time: an historical perspective using the … (Louka et al., 2021)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>unclear</td>
      <td>Internal</td>
      <td>20</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>3.00</td>
      <td>2.00</td>
      <td>0±20.4; 1.1±21.1</td>
      <td>0.147059</td>
      <td>0.094787</td>
      <td>0.070614</td>
      <td>0.045514</td>
      <td>0.486656</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9447911/">Photoplethysmography fast upstroke time intervals can be useful features for cuff-less measurement of blood pressure changes in humans (Natarajan et al., 2021)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>32</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>10.20</td>
      <td>6.40</td>
      <td>2.1±8.9; 0.2±6.5</td>
      <td>1.146067</td>
      <td>0.984615</td>
      <td>0.419813</td>
      <td>0.360672</td>
      <td>0.691874</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.medtach.com/uploads/1/9/7/9/19798371/bpro_-_progress_on_the_development_of_the_mediwatch_ambulatory.pdf">Progress on the development of the MediWatch ambulatory blood pressure monitor and related devices (Ng et al., 2004)</a></td>
      <td>personalization</td>
      <td>tonometer</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>15</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>3.33</td>
      <td>1.83</td>
      <td>0±3.76; 0.5±2.1</td>
      <td>0.885638</td>
      <td>0.871429</td>
      <td>0.507664</td>
      <td>0.499519</td>
      <td>0.379576</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1007/s10916-016-0558-6">Pulse Arrival Time Based Cuff-Less and 24-H Wearable Blood Pressure Monitoring and its Diagnostic Value in Hypertension (Zheng et al., 2016)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>15</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>14.30</td>
      <td>8.90</td>
      <td>0.5±14.0; 1.2±10.0</td>
      <td>1.021429</td>
      <td>0.890000</td>
      <td>0.585502</td>
      <td>0.510164</td>
      <td>0.379576</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1007/s10916-016-0558-6">Pulse Arrival Time Based Cuff-Less and 24-H Wearable Blood Pressure Monitoring and its Diagnostic Value in Hypertension (Zheng et al., 2016)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>15</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>10.20</td>
      <td>8.00</td>
      <td>-1.4±6.6; 0.4±6.7</td>
      <td>1.545455</td>
      <td>1.194030</td>
      <td>0.885883</td>
      <td>0.684440</td>
      <td>0.379576</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/EMBC44109.2020.9175635">Unobtrusive Blood Pressure Estimation using Personalized Autoregressive Models (Zheng et al., 2020)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>25</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>10.50</td>
      <td>7.70</td>
      <td>-6.3±8.3; -3.3±5.4</td>
      <td>1.265060</td>
      <td>1.425926</td>
      <td>0.532959</td>
      <td>0.600731</td>
      <td>0.581387</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://search.proquest.com/openview/0c5eb2ca4b183897656dd65a15e36e0c/1?pq-origsite=gscholar&cbl=18750">Unobtrusive cuff-less arterial blood pressure measurement and cardiovascular risk evaluation (Zheng et al., 2014)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>25</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>14.20</td>
      <td>5.10</td>
      <td>2.8±8.2; 3.3±8.5</td>
      <td>1.731707</td>
      <td>0.600000</td>
      <td>0.729554</td>
      <td>0.252775</td>
      <td>0.581387</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td><a href="https://www.tandfonline.com/doi/abs/10.1080/21548331.2019.1656991">The accuracy of blood pressure measurement by a smartwatch and a portable health device (Helmond et al., 2019)</a></td>
      <td>personalization</td>
      <td>ECG+PPG</td>
      <td>proprietary</td>
      <td>Internal</td>
      <td>85</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>28.90</td>
      <td>13.50</td>
      <td>16.9; 8.3</td>
      <td>1.364430</td>
      <td>1.297764</td>
      <td>0.296047</td>
      <td>0.281582</td>
      <td>0.981742</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>