<table id="meet_specs_personalization" border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Calibration Technique</th>
      <th>Evaluation Metric</th>
      <th>Reported Result</th>
      <th>Sensor Data</th>
      <th>Dataset</th>
      <th>Algorithm</th>
      <th>Subject Characteristics</th>
      <th>Number of Test Subjects</th>
      <th>Testing Subject Characteristics</th>
      <th>Study Characteristics</th>
      <th>SBP STD</th>
      <th>DBP STD</th>
      <th>BP Distribution SBP STD</th>
      <th>BP Distribution DBP STD</th>
      <th>Power</th>
      <th>Explained Deviation SBP</th>
      <th>Explained Deviation DBP</th>
      <th>Time between Calibration and Test</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>