<table border="1" class="dataframe" id="mslstable">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Sensor Data</th>
      <th>Calibration Technique</th>
      <th>Algorithm</th>
      <th>Dataset</th>
      <th>SBP ED</th>
      <th>DBP ED</th>
      <th>SBP ED 95CI LB</th>
      <th>DBP ED 95CI LB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/document/8938751/">Blood pressure estimation using photoplethysmogram signal and its morphological features (Hasanzadeh et al., 2019)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>2.47</td>
      <td>2.21</td>
      <td>2.37</td>
      <td>2.12</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/EMBC.2019.8856588">Cuff-less Blood Pressure Measurement Based on Deep Convolutional Neural Network (Liu et al., 2019)</a></td>
      <td>ECG+PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>2.22</td>
      <td>2.07</td>
      <td>1.93</td>
      <td>1.81</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>5.08</td>
      <td>4.87</td>
      <td>4.68</td>
      <td>4.48</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>4.23</td>
      <td>4.02</td>
      <td>3.90</td>
      <td>3.70</td>
    </tr>
    <tr>
      <td><a href="http://ojs.midem-drustvo.si/index.php/InfMIDEM/article/view/851">Real-time, Cuff-less and Non-invasive Blood Pressure Monitoring (Abolhasani et al., 2020)</a></td>
      <td>ultrasound</td>
      <td>subject level split</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>2.49</td>
      <td>2.59</td>
      <td>2.27</td>
      <td>2.37</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>ECG+PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>4.24</td>
      <td>3.45</td>
      <td>4.14</td>
      <td>3.37</td>
    </tr>
    <tr>
      <td><a href="https://www.osapublishing.org/abstract.cfm?uri=boe-12-12-7732">Towards a portable-noninvasive blood pressure monitoring system utilizing the photoplethysmogram signal (Dagamseh et al., 2021)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>4.08</td>
      <td>5.21</td>
      <td>3.71</td>
      <td>4.74</td>
    </tr>
  </tbody>
</table>