<table border="1" class="dataframe" id="mslstable">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Sensor Data</th>
      <th>Calibration Technique</th>
      <th>Algorithm</th>
      <th>Dataset</th>
      <th>SBP ED</th>
      <th>DBP ED</th>
      <th>SBP ED 95CI LB</th>
      <th>DBP ED 95CI LB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/document/8938751/">Blood pressure estimation using photoplethysmogram signal and its morphological features (Hasanzadeh et al., 2019)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>classical ML</td>
      <td>MIMIC</td>
      <td>2.470135</td>
      <td>2.206161</td>
      <td>2.369024</td>
      <td>2.115856</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>5.084317</td>
      <td>4.868217</td>
      <td>4.680025</td>
      <td>4.481109</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/abstract/document/9795667">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>Internal</td>
      <td>4.232804</td>
      <td>4.022008</td>
      <td>3.896222</td>
      <td>3.702188</td>
    </tr>
    <tr>
      <td><a href="http://ojs.midem-drustvo.si/index.php/InfMIDEM/article/view/851">Real-time, Cuff-less and Non-invasive Blood Pressure Monitoring (Abolhasani et al., 2020)</a></td>
      <td>ultrasound</td>
      <td>subject level split</td>
      <td>physiological model</td>
      <td>Internal</td>
      <td>2.485677</td>
      <td>2.586534</td>
      <td>2.274923</td>
      <td>2.367229</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>ECG+PPG</td>
      <td>subject level split</td>
      <td>deep learning</td>
      <td>MIMIC</td>
      <td>4.238762</td>
      <td>3.446262</td>
      <td>4.140707</td>
      <td>3.366540</td>
    </tr>
    <tr>
      <td><a href="https://www.osapublishing.org/abstract.cfm?uri=boe-12-12-7732">Towards a portable-noninvasive blood pressure monitoring system utilizing the photoplethysmogram signal (Dagamseh et al., 2021)</a></td>
      <td>PPG</td>
      <td>subject level split</td>
      <td>classical ML</td>
      <td>Internal</td>
      <td>4.082991</td>
      <td>5.214932</td>
      <td>3.708468</td>
      <td>4.736578</td>
    </tr>
  </tbody>
</table>