<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Calibration Technique</th>
      <th>Evaluation Metric</th>
      <th>Reported Result</th>
      <th>Sensor Data</th>
      <th>Dataset</th>
      <th>Algorithm</th>
      <th>Subject Characteristics</th>
      <th>Number of Test Subjects</th>
      <th>Testing Subject Characteristics</th>
      <th>Study Characteristics</th>
      <th>SBP STD</th>
      <th>DBP STD</th>
      <th>BP Distribution SBP STD</th>
      <th>BP Distribution DBP STD</th>
      <th>Power</th>
      <th>Explained Deviation SBP</th>
      <th>Explained Deviation DBP</th>
      <th>Explained Deviation SBP 95% MOE</th>
      <th>Explained Deviation DBP 95% MOE</th>
      <th>Time between Calibration and Test</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/JTEHM.2020.3000327" rel="noopener noreferrer" target="_blank">Accurate Fiducial Point Detection Using Haar Wavelet for Beat-by-Beat Blood Pressure Estimation (Singla et al., 2020)</a></td>
      <td>Muskan Singla, Syed Azeemuddin, Prasad Sistla</td>
      <td>2020</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.3±3.38 / 0.57±1.9</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy+diseased</td>
      <td>171</td>
      <td>healthy+diseased; hypertensive</td>
      <td>observational study</td>
      <td>3.38</td>
      <td>1.9</td>
      <td>19.0</td>
      <td>15.0</td>
      <td>0.999933</td>
      <td>5.62</td>
      <td>7.89</td>
      <td>0.851066</td>
      <td>1.195265</td>
      <td>NaN</td>
      <td>Accurate, Fiducial, Point, Detection, Using, Haar, Wavelet, Beat-by-Beat, Blood, Pressure, Estimation, ECG+PPG, features, level, split, Internal, cuff, ECG+PPG, features, study, ML, model, regression, feature, extraction</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1109/CISP-BMEI48845.2019.8966011" rel="noopener noreferrer" target="_blank">An Ambulatory Blood Pressure Monitoring System Based on the Uncalibrated Steps of the Wrist (Wu et al., 2019)</a></td>
      <td>Qiwei Wu, Jie Yang, Guoyan Zheng, Xianwen Zhang, Yandong Zhang, Cai Xu, Jintian Tang</td>
      <td>2019</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>3.08±4.29 / 1.52±2.20</td>
      <td>BCG+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy</td>
      <td>15</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>4.29</td>
      <td>2.2</td>
      <td>17.3</td>
      <td>9.8</td>
      <td>0.401939</td>
      <td>4.03</td>
      <td>4.45</td>
      <td>2.311580</td>
      <td>2.553427</td>
      <td>NaN</td>
      <td>Ambulatory, Blood, Pressure, Monitoring, System, Uncalibrated, Steps, Wrist, BCG+PPG, PTT, time, domain, features, level, split, cross, validation, Internal, cuff, BCG+PPG, PTT, time, domain, features, study, ML, MLR</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/8938751/" rel="noopener noreferrer" target="_blank">Blood pressure estimation using photoplethysmogram signal and its morphological features (Hasanzadeh et al., 2019)</a></td>
      <td>N Hasanzadeh, MM Ahmadi, ...</td>
      <td>2019</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.09±10.38 / 0.23±4.22</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>Classical ML</td>
      <td>diseased</td>
      <td>942</td>
      <td>diseased; ICU patients</td>
      <td>observational study</td>
      <td>10.38</td>
      <td>4.22</td>
      <td>25.64</td>
      <td>9.31</td>
      <td>1.000000</td>
      <td>2.47</td>
      <td>2.21</td>
      <td>0.158028</td>
      <td>0.141140</td>
      <td>NaN</td>
      <td>Blood, pressure, estimation, signal, features, PPG, HR, width, reflection, index, LASI, ratio, areas, crest, time, mNPV, level, split, cross, validation, MIMIC, catheterization, PPG, HR, width, reflection, index, LASI, ratio, areas, crest, time, mNPV, study, ML, feature, extraction, adaboost, Linear, Regression, Decision, Tree, Random, Forest, ICU, patients</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.3389/fmedt.2021.695356" rel="noopener noreferrer" target="_blank">Calibration-Free Cuffless Blood Pressure Estimation Based on a Population With a Diverse Range of Age and Blood Pressure (Yamanaka et al., 2021)</a></td>
      <td>Syunsuke Yamanaka, Koji Morikawa, Hiroshi Morita, Ji Young Huh, Osamu Yamamura</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0±7.74 / 0±6.42</td>
      <td>biometrics+ECG+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy+diseased</td>
      <td>85</td>
      <td>healthy+diseased; hypertensive</td>
      <td>observational study</td>
      <td>7.74</td>
      <td>6.42</td>
      <td>24.7</td>
      <td>12.5</td>
      <td>0.982765</td>
      <td>3.19</td>
      <td>1.95</td>
      <td>0.692414</td>
      <td>0.422459</td>
      <td>NaN</td>
      <td>Cuffless, Blood, Pressure, Estimation, Population, Diverse, Range, Age, Blood, Pressure, biometrics+ECG+PPG, PAT, time-domain, features, derivatives, wavelet, features, level, split, validation, dataset, standards, Internal, cuff, biometrics+ECG+PPG, PAT, time-domain, features, derivatives, wavelet, features, study, ML, SVM</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-92997-0" rel="noopener noreferrer" target="_blank">Combined deep CNN–LSTM network-based multitasking learning architecture for noninvasive continuous blood pressure estimation using difference in ECG … (Jeong et al., 2021)</a></td>
      <td>DU Jeong, KM Lim</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.0±1.6 / 0.2±1.3</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>Deep Learning</td>
      <td>diseased</td>
      <td>10</td>
      <td>diseased; ICU patients</td>
      <td>observational study</td>
      <td>1.6</td>
      <td>1.3</td>
      <td>12.21</td>
      <td>7.45</td>
      <td>0.286914</td>
      <td>7.63</td>
      <td>5.73</td>
      <td>5.754362</td>
      <td>4.321300</td>
      <td>NaN</td>
      <td>CNN–LSTM, multitasking, learning, architecture, blood, pressure, estimation, difference, ECG, …, ECG+PPG, difference, ECG, PPG, waveform, level, split, MIMIC, catherterization, ECG+PPG, difference, ECG, PPG, waveform, study, learning, CNN-LSTM, ICU, patients</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/9616476/" rel="noopener noreferrer" target="_blank">Continuous ppg-based blood pressure monitoring using multi-linear regression (Haddad et al., 2021)</a></td>
      <td>S Haddad, A Boukhayma, ...</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0±8.08 / 0±6.22</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>Classical ML</td>
      <td>diseased</td>
      <td>26</td>
      <td>diseased; ICU patients</td>
      <td>observational study</td>
      <td>8.08</td>
      <td>6.22</td>
      <td>21.48</td>
      <td>11.78</td>
      <td>0.615432</td>
      <td>2.66</td>
      <td>1.89</td>
      <td>1.095022</td>
      <td>0.780108</td>
      <td>NaN</td>
      <td>blood, pressure, regression, PPG, time-domain, features, level, split, MIMIC, catheterization, PPG, time-domain, features, study, ML, MLR, ICU, patients</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1145/3447993.3483241" rel="noopener noreferrer" target="_blank">Crisp-BP: continuous wrist PPG-based blood pressure measurement (Cao et al., 2021)</a></td>
      <td>Yetong Cao, Huijie Chen, Fan Li, Yu Wang</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.86±6.55 / 1.67±7.31</td>
      <td>pressure+multi-wavelength PPG</td>
      <td>Internal+MIMIC</td>
      <td>Deep Learning</td>
      <td>healthy+diseased</td>
      <td>35</td>
      <td>healthy+diseased</td>
      <td>observational study</td>
      <td>6.55</td>
      <td>7.31</td>
      <td>26.1</td>
      <td>15.1</td>
      <td>0.743637</td>
      <td>3.98</td>
      <td>2.07</td>
      <td>1.388787</td>
      <td>0.719940</td>
      <td>NaN</td>
      <td>Crisp-BP, blood, pressure, measurement, PPG, APW, level, split, pressure, calibration, LOOCV, Internal+MIMIC, catheterization, cuff, hour, PPG, APW, study, learning, BLSTM, NN, model, features, RWTT, transfer, learning</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/8857304/" rel="noopener noreferrer" target="_blank">Cuff-less and Calibration-free Blood Pressure Estimation Using Convolutional Autoencoder with Unsupervised Feature Extraction (Zhang et al., 2019)</a></td>
      <td>J Zhang, D Wu, Y Li</td>
      <td>2019</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0±7.75 / 0±5.13</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>Deep Learning</td>
      <td>healthy</td>
      <td>62</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>7.75</td>
      <td>5.13</td>
      <td>19.3</td>
      <td>13.0</td>
      <td>0.935731</td>
      <td>2.49</td>
      <td>2.53</td>
      <td>0.637586</td>
      <td>0.648798</td>
      <td>NaN</td>
      <td>Blood, Pressure, Estimation, Using, Convolutional, Autoencoder, Feature, Extraction, ECG+PPG, level, split, CV, Internal, cuff, ECG+PPG, study, learning, auto-encoder, CNN</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/8589796/" rel="noopener noreferrer" target="_blank">Estimating blood pressure via artificial neural networks based on measured photoplethysmography waveforms (Priyanka et al., 2018)</a></td>
      <td>KNG Priyanka, PCP Chao, TY Tu, YH Kao, ...</td>
      <td>2018</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.17±3.9 / 0.3±1.8</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>Deep Learning</td>
      <td>healthy</td>
      <td>4</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>3.9</td>
      <td>1.8</td>
      <td>10.46</td>
      <td>6.26</td>
      <td>0.140946</td>
      <td>2.68</td>
      <td>3.48</td>
      <td>4.927964</td>
      <td>6.390021</td>
      <td>NaN</td>
      <td>blood, pressure, networks, photoplethysmography, waveforms, PPG, time-domain, features, level, split, Internal, cuff, PPG, time-domain, features, study, learning</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/9795667" rel="noopener noreferrer" target="_blank">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>C Ma, P Zhang, F Song, Y Sun, G Fan, T, Y Feng, G Zhang</td>
      <td>2022</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.02±5.93 / 0.01±3.87</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>Deep Learning</td>
      <td>diseased</td>
      <td>241</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>5.93</td>
      <td>3.87</td>
      <td>30.15</td>
      <td>18.84</td>
      <td>1.000000</td>
      <td>5.08</td>
      <td>4.87</td>
      <td>0.646503</td>
      <td>0.619025</td>
      <td>NaN</td>
      <td>Continuous, Blood, Pressure, Waveform, Estimation, Approach, Single, Photoplethysmography, PPG, time, domain, features, level, split, MIMIC, invasive, PPG, time, domain, features, study, learning, method, knowledge, distillation, transfer, learning</td>
    </tr>
    <tr>
      <td><a href="https://ieeexplore.ieee.org/irrelevant; abstract/document/9795667" rel="noopener noreferrer" target="_blank">KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography (Ma et al., 2022)</a></td>
      <td>C Ma, P Zhang, F Song, Y Sun, G Fan, T, Y Feng, G Zhang</td>
      <td>2022</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>0.013±6.237 / 0.011±4.453</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>Deep Learning</td>
      <td>diseased</td>
      <td>241</td>
      <td>diseased</td>
      <td>observational study</td>
      <td>6.24</td>
      <td>4.45</td>
      <td>26.4</td>
      <td>17.91</td>
      <td>1.000000</td>
      <td>4.23</td>
      <td>4.02</td>
      <td>0.537969</td>
      <td>0.511769</td>
      <td>NaN</td>
      <td>Continuous, Blood, Pressure, Waveform, Estimation, Approach, Single, Photoplethysmography, PPG, time, domain, features, level, split, Internal, Mindray, PPG, time, domain, features, study, learning, method, knowledge, distillation, transfer, learning</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1038/ajh.2011.259" rel="noopener noreferrer" target="_blank">Measurement of central systolic blood pressure by pulse volume plethysmography with a noninvasive blood pressure monitor. (Sung et al., 2012)</a></td>
      <td>S. Sung, Hao-min Cheng, S. Chuang, Y. Shih, Kang-ling Wang, Ying-Hwa Chen, Shing‐Jong Lin, Wen-Chung Yu, Chen-Huan Chen</td>
      <td>2012</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>-2.1±6.3 / 7.3±6.3</td>
      <td>ECG+pressure+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>diseased</td>
      <td>50</td>
      <td>diseased; hospital patients</td>
      <td>observational study</td>
      <td>6.3</td>
      <td>6.3</td>
      <td>20.0</td>
      <td>10.0</td>
      <td>0.877998</td>
      <td>3.17</td>
      <td>1.59</td>
      <td>0.911372</td>
      <td>0.455686</td>
      <td>NaN</td>
      <td>Measurement, blood, pressure, volume, plethysmography, blood, pressure, monitor, ECG+pressure+PPG, SBP2, Pes, Pd, Ad, contact, pressure, level, split, model, study, devices, Internal, catheterization, ECG+pressure+PPG, SBP2, Pes, Pd, Ad, contact, pressure, study, ML, MLR, hospital, patients</td>
    </tr>
    <tr>
      <td><a href="https://link.springer.com/article/10.1007/s11082-020-02667-0" rel="noopener noreferrer" target="_blank">Non-invasive cuff-less blood pressure estimation using a hybrid deep learning model (Yang et al., 2021)</a></td>
      <td>S Yang, Y Zhang, SY Cho, R Correia, ...</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>3.23±4.75 / 4.43±6.09</td>
      <td>biometrics+ECG+PPG</td>
      <td>Internal</td>
      <td>Deep Learning</td>
      <td>healthy</td>
      <td>9</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>4.75</td>
      <td>6.09</td>
      <td>17.6</td>
      <td>11.7</td>
      <td>0.262995</td>
      <td>3.71</td>
      <td>1.92</td>
      <td>3.020885</td>
      <td>1.566331</td>
      <td>NaN</td>
      <td>blood, pressure, estimation, learning, model, biometrics+ECG+PPG, level, split, Internal, cuff, biometrics+ECG+PPG, study, learning, CNN+LSTM</td>
    </tr>
    <tr>
      <td><a href="http://dx.doi.org/10.1016/j.imed.2021.11.001" rel="noopener noreferrer" target="_blank">Non-invasive cuffless blood pressure and heart rate monitoring using impedance cardiography (Ghosh et al., 2021)</a></td>
      <td>Sudipta Ghosh, Bhabani Prasad Chattopadhyay, Ram Mohan Roy, Jayanta Mukherjee, Manjunatha Mahadevappa</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>1.79±3.80 / 1.82±4.10</td>
      <td>ICG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy</td>
      <td>10</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>3.8</td>
      <td>4.1</td>
      <td>13.0</td>
      <td>7.0</td>
      <td>0.286914</td>
      <td>3.42</td>
      <td>1.71</td>
      <td>2.579653</td>
      <td>1.287407</td>
      <td>NaN</td>
      <td>cuffless, blood, pressure, heart, rate, monitoring, impedance, cardiography, ICG, Augmentation, index, level, split, Internal, cuff, ICG, Augmentation, index, study, ML, regression</td>
    </tr>
    <tr>
      <td><a href="http://ojs.midem-drustvo.si/index.php/InfMIDEM/article/view/851" rel="noopener noreferrer" target="_blank">Real-time, Cuff-less and Non-invasive Blood Pressure Monitoring (Abolhasani et al., 2020)</a></td>
      <td>A Abolhasani, M Mousazadeh, A Khoei</td>
      <td>2020</td>
      <td>subject level split</td>
      <td>ME</td>
      <td>-0.233±4.538 / 0.118±4.218</td>
      <td>ultrasound</td>
      <td>Internal</td>
      <td>Physiological Model</td>
      <td>healthy</td>
      <td>211</td>
      <td>healthy</td>
      <td>observational study</td>
      <td>4.54</td>
      <td>4.22</td>
      <td>11.28</td>
      <td>10.91</td>
      <td>0.999996</td>
      <td>2.48</td>
      <td>2.59</td>
      <td>0.337988</td>
      <td>0.351691</td>
      <td>NaN</td>
      <td>Blood, Pressure, ultrasound, level, split, Internal, cuff, ultrasound, study, model</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016" rel="noopener noreferrer" target="_blank">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>B Huang, W Chen, CL Lin, CF Juang, J Wang</td>
      <td>2022</td>
      <td>subject level split</td>
      <td>MAE</td>
      <td>3.52 / 2.13</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>Deep Learning</td>
      <td>diseased</td>
      <td>3000</td>
      <td>diseased; ICU patients</td>
      <td>observational study</td>
      <td>4.41</td>
      <td>2.67</td>
      <td>18.7</td>
      <td>9.2</td>
      <td>1.000000</td>
      <td>4.24</td>
      <td>3.45</td>
      <td>0.151823</td>
      <td>0.123371</td>
      <td>NaN</td>
      <td>MLP-BP, framework, cuffless, blood, pressure, measurement, PPG, ECG, signals, MLP-Mixer, networks, ECG+PPG, features, level, split, MIMIC, catheterization, ECG+PPG, features, study, learning, multi-filter, multi-channel, MLP-Mixer, ICU, patients</td>
    </tr>
    <tr>
      <td><a href="https://www.sciencedirect.com/science/article/pii/S1746809421010016" rel="noopener noreferrer" target="_blank">MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks (Huang et al., 2022)</a></td>
      <td>B Huang, W Chen, CL Lin, CF Juang, J Wang</td>
      <td>2022</td>
      <td>subject level split</td>
      <td>MAE</td>
      <td>4.39 / 2.54</td>
      <td>ECG+PPG</td>
      <td>MIMIC+UoQ</td>
      <td>Deep Learning</td>
      <td>diseased</td>
      <td>32</td>
      <td>diseased; surgical patients; UoQ</td>
      <td>observational study</td>
      <td>5.5</td>
      <td>3.18</td>
      <td>18.7</td>
      <td>9.2</td>
      <td>0.705414</td>
      <td>3.4</td>
      <td>2.89</td>
      <td>1.245445</td>
      <td>1.059757</td>
      <td>NaN</td>
      <td>MLP-BP, framework, cuffless, blood, pressure, measurement, PPG, ECG, signals, MLP-Mixer, networks, ECG+PPG, features, level, split, MIMIC+UoQ, catheterization, ECG+PPG, features, study, learning, multi-filter, multi-channel, MLP-Mixer, patients, UoQ</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-01358-4" rel="noopener noreferrer" target="_blank">Pulse arrival time as a surrogate of blood pressure (Finnegan et al., 2021)</a></td>
      <td>E Finnegan, S Davidson, M Harford, J Jorge, ...</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>MAE</td>
      <td>5.4 / 5.64</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy</td>
      <td>30</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>6.77</td>
      <td>7.07</td>
      <td>18.3</td>
      <td>14.7</td>
      <td>0.677475</td>
      <td>2.7</td>
      <td>2.08</td>
      <td>1.026610</td>
      <td>0.789662</td>
      <td>NaN</td>
      <td>Pulse, arrival, time, surrogate, blood, pressure, ECG+PPG, PAT, HR, level, split, cross, validation, Internal, cuff, ECG+PPG, PAT, HR, study, infusion, phenylephrine, ML, regression, poon, model</td>
    </tr>
    <tr>
      <td><a href="https://www.nature.com/articles/s41598-021-01358-4" rel="noopener noreferrer" target="_blank">Pulse arrival time as a surrogate of blood pressure (Finnegan et al., 2021)</a></td>
      <td>E Finnegan, S Davidson, M Harford, J Jorge, ...</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>MAE</td>
      <td>5.7 / 5.9</td>
      <td>ECG+ICG+PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>healthy</td>
      <td>30</td>
      <td>healthy</td>
      <td>interventional study</td>
      <td>7.14</td>
      <td>7.39</td>
      <td>18.3</td>
      <td>14.7</td>
      <td>0.677475</td>
      <td>2.56</td>
      <td>1.99</td>
      <td>0.973410</td>
      <td>0.755468</td>
      <td>NaN</td>
      <td>Pulse, arrival, time, surrogate, blood, pressure, ECG+ICG+PPG, PTT, PEP, PAT, level, split, cross, validation, Internal, cuff, ECG+ICG+PPG, PTT, PEP, PAT, study, infusion, phenylephrine, ML, regression, fung, model</td>
    </tr>
    <tr>
      <td><a href="https://www.osapublishing.org/irrelevant; abstract.cfm?uri=boe-12-12-7732" rel="noopener noreferrer" target="_blank">Towards a portable-noninvasive blood pressure monitoring system utilizing the photoplethysmogram signal (Dagamseh et al., 2021)</a></td>
      <td>A Dagamseh, Q Qananwah, H Al Quran, ...</td>
      <td>2021</td>
      <td>subject level split</td>
      <td>MAE</td>
      <td>4.69 / 1.53</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>Classical ML</td>
      <td>unclear</td>
      <td>179</td>
      <td>unclear</td>
      <td>observational study</td>
      <td>5.88</td>
      <td>1.92</td>
      <td>24.0</td>
      <td>10.0</td>
      <td>0.999961</td>
      <td>4.08</td>
      <td>5.21</td>
      <td>0.603719</td>
      <td>0.770371</td>
      <td>NaN</td>
      <td>blood, pressure, monitoring, system, signal, PPG, time-domain, features, level, split, Internal, cuff, PPG, time-domain, features, study, ML, process, regression+SVM</td>
    </tr>
  </tbody>
</table>