<table id="stable" border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Sensor Data</th>
      <th>Dataset</th>
      <th>SBP STD</th>
      <th>DBP STD</th>
      <th>BP Distribution SBP STD</th>
      <th>BP Distribution DBP STD</th>
      <th>Explained Deviation SBP</th>
      <th>Explained Deviation DBP</th>
      <th>Power</th>
      <th>Margin of Error (95%) SBP</th>
      <th>Margin of Error (95%) DBP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A h-Shirt-Based Body Sensor Network for Cuffless Calibration and Estimation of Arterial Blood Pressure</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>12.60</td>
      <td>NaN</td>
      <td>13.00</td>
      <td>NaN</td>
      <td>1.031746</td>
      <td>0.000000</td>
      <td>0.190126</td>
      <td>4.246667</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>A Novel Method for Calibration-Based Cuff-Less Blood Pressure Estimation</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>16.07</td>
      <td>10.70</td>
      <td>15.70</td>
      <td>10.80</td>
      <td>0.976976</td>
      <td>1.009346</td>
      <td>0.998020</td>
      <td>0.256433</td>
      <td>0.176400</td>
    </tr>
    <tr>
      <td>A Probabilistic Beat-to-Beat Filtering Model for Continuous and Accurate Blood Pressure Estimation</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>19.89</td>
      <td>10.97</td>
      <td>28.61</td>
      <td>10.39</td>
      <td>1.438411</td>
      <td>0.947129</td>
      <td>0.998020</td>
      <td>0.467297</td>
      <td>0.169703</td>
    </tr>
    <tr>
      <td>Accelerometric patch probe for cuffless blood pressure evaluation from carotid local pulse wave velocity: Design, development, and in vivo experimental study</td>
      <td>PPG+PPG</td>
      <td>Internal</td>
      <td>5.24</td>
      <td>6.48</td>
      <td>10.59</td>
      <td>10.63</td>
      <td>2.020992</td>
      <td>1.640432</td>
      <td>0.356988</td>
      <td>1.596646</td>
      <td>1.602677</td>
    </tr>
    <tr>
      <td>Accuracy of vital signs measurements by a smartwatch and a portable health device: validation study</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>13.50</td>
      <td>6.10</td>
      <td>15.00</td>
      <td>9.00</td>
      <td>1.111111</td>
      <td>1.475410</td>
      <td>0.982765</td>
      <td>0.345882</td>
      <td>0.207529</td>
    </tr>
    <tr>
      <td>Accurate Fiducial Point Detection Using Haar Wavelet for Beat-by-Beat Blood Pressure Estimation</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>3.38</td>
      <td>1.90</td>
      <td>19.00</td>
      <td>15.00</td>
      <td>5.621302</td>
      <td>7.894737</td>
      <td>0.999933</td>
      <td>0.217778</td>
      <td>0.171930</td>
    </tr>
    <tr>
      <td>An Ambulatory Blood Pressure Monitoring System Based on the Uncalibrated Steps of the Wrist</td>
      <td>BCG+PPG</td>
      <td>Internal</td>
      <td>4.29</td>
      <td>2.20</td>
      <td>17.30</td>
      <td>9.80</td>
      <td>4.032634</td>
      <td>4.454545</td>
      <td>0.401939</td>
      <td>2.260533</td>
      <td>1.280533</td>
    </tr>
    <tr>
      <td>Blood pressure estimation using photoplethysmogram signal and its morphological features</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>10.38</td>
      <td>4.22</td>
      <td>25.64</td>
      <td>9.31</td>
      <td>2.470135</td>
      <td>2.206161</td>
      <td>1.000000</td>
      <td>0.053349</td>
      <td>0.019371</td>
    </tr>
    <tr>
      <td>Calibration-Free Cuffless Blood Pressure Estimation Based on a Population With a Diverse Range of Age and Blood Pressure</td>
      <td>biometrics+ECG+PPG</td>
      <td>Internal</td>
      <td>7.74</td>
      <td>6.42</td>
      <td>24.70</td>
      <td>12.50</td>
      <td>3.191214</td>
      <td>1.947040</td>
      <td>0.982765</td>
      <td>0.569553</td>
      <td>0.288235</td>
    </tr>
    <tr>
      <td>Carotid local pulse wave velocity measurement using dual-element accelerometric patch probe</td>
      <td>PPG+PPG</td>
      <td>Internal</td>
      <td>7.15</td>
      <td>6.19</td>
      <td>15.64</td>
      <td>11.92</td>
      <td>2.187413</td>
      <td>1.925687</td>
      <td>0.379662</td>
      <td>2.189600</td>
      <td>1.668800</td>
    </tr>
    <tr>
      <td>Combined deep CNN–LSTM network-based multitasking learning architecture for noninvasive continuous blood pressure estimation using difference in ECG …</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>1.60</td>
      <td>1.30</td>
      <td>12.21</td>
      <td>7.45</td>
      <td>7.631250</td>
      <td>5.730769</td>
      <td>0.286914</td>
      <td>2.393160</td>
      <td>1.460200</td>
    </tr>
    <tr>
      <td>Continuous and Noninvasive Blood Pressure Estimation by Two-Sensor Measurement of Pulse Transit Time</td>
      <td>piezo+PPG</td>
      <td>Internal</td>
      <td>5.26</td>
      <td>7.71</td>
      <td>8.62</td>
      <td>NaN</td>
      <td>1.638783</td>
      <td>0.000000</td>
      <td>0.526019</td>
      <td>0.804533</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>Continuous blood pressure measurement from one-channel electrocardiogram signal using deep-learning techniques</td>
      <td>ECG</td>
      <td>MIMIC</td>
      <td>9.99</td>
      <td>6.29</td>
      <td>19.54</td>
      <td>8.17</td>
      <td>1.955956</td>
      <td>1.298887</td>
      <td>1.000000</td>
      <td>0.089482</td>
      <td>0.037414</td>
    </tr>
    <tr>
      <td>Continuous blood pressure measurement from one-channel electrocardiogram signal using deep-learning techniques</td>
      <td>ECG</td>
      <td>MIMIC+Internal</td>
      <td>5.82</td>
      <td>5.62</td>
      <td>19.54</td>
      <td>8.17</td>
      <td>3.357388</td>
      <td>1.453737</td>
      <td>0.677475</td>
      <td>1.276613</td>
      <td>0.533773</td>
    </tr>
    <tr>
      <td>Continuous Monitoring of Blood Pressure Using a Wrist-Worn Cuffless Device</td>
      <td>biometrics+pressure</td>
      <td>Internal</td>
      <td>10.10</td>
      <td>7.50</td>
      <td>24.20</td>
      <td>14.20</td>
      <td>2.396040</td>
      <td>1.893333</td>
      <td>0.731375</td>
      <td>1.395059</td>
      <td>0.818588</td>
    </tr>
    <tr>
      <td>Continuous ppg-based blood pressure monitoring using multi-linear regression</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>8.08</td>
      <td>6.22</td>
      <td>21.48</td>
      <td>11.78</td>
      <td>2.658416</td>
      <td>1.893891</td>
      <td>0.615432</td>
      <td>1.619262</td>
      <td>0.888031</td>
    </tr>
    <tr>
      <td>Crisp-BP: continuous wrist PPG-based blood pressure measurement</td>
      <td>pressure+multi-wavelength PPG</td>
      <td>Internal+MIMIC</td>
      <td>6.55</td>
      <td>7.31</td>
      <td>26.10</td>
      <td>15.10</td>
      <td>3.984733</td>
      <td>2.065663</td>
      <td>0.743637</td>
      <td>1.461600</td>
      <td>0.845600</td>
    </tr>
    <tr>
      <td>Cuff-less and Calibration-free Blood Pressure Estimation Using Convolutional Autoencoder with Unsupervised Feature Extraction</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>7.75</td>
      <td>5.13</td>
      <td>19.30</td>
      <td>13.00</td>
      <td>2.490323</td>
      <td>2.534113</td>
      <td>0.935731</td>
      <td>0.610129</td>
      <td>0.410968</td>
    </tr>
    <tr>
      <td>Cuff-less Blood Pressure Measurement Based on Deep Convolutional Neural Network</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>6.89</td>
      <td>4.91</td>
      <td>15.29</td>
      <td>10.17</td>
      <td>2.219158</td>
      <td>2.071283</td>
      <td>0.986423</td>
      <td>0.336724</td>
      <td>0.223969</td>
    </tr>
    <tr>
      <td>Cuff-less blood pressure measurement using fingertip photoplethysmogram signals and physiological characteristics</td>
      <td>biometrics+PPG</td>
      <td>PPG-BP</td>
      <td>12.57</td>
      <td>5.26</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>1.621321</td>
      <td>2.112167</td>
      <td>0.526019</td>
      <td>1.902133</td>
      <td>1.036933</td>
    </tr>
    <tr>
      <td>Cuff-less blood pressure measurement using fingertip photoplethysmogram signals and physiological characteristics</td>
      <td>PPG</td>
      <td>PPG-BP</td>
      <td>14.20</td>
      <td>7.79</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>1.435211</td>
      <td>1.426187</td>
      <td>0.526019</td>
      <td>1.902133</td>
      <td>1.036933</td>
    </tr>
    <tr>
      <td>Cuffless Deep Learning-Based Blood Pressure Estimation for Smart Wristwatches</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>6.00</td>
      <td>6.00</td>
      <td>10.30</td>
      <td>9.40</td>
      <td>1.716667</td>
      <td>1.566667</td>
      <td>0.834362</td>
      <td>0.458818</td>
      <td>0.418727</td>
    </tr>
    <tr>
      <td>eBP: A Wearable System For Frequent and Comfortable Blood Pressure Monitoring From User's Ear</td>
      <td>pressure+PPG</td>
      <td>Internal</td>
      <td>7.20</td>
      <td>7.90</td>
      <td>10.67</td>
      <td>12.90</td>
      <td>1.481944</td>
      <td>1.632911</td>
      <td>0.677475</td>
      <td>0.697107</td>
      <td>0.842800</td>
    </tr>
    <tr>
      <td>Estimating blood pressure via artificial neural networks based on measured photoplethysmography waveforms</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>3.90</td>
      <td>1.80</td>
      <td>10.46</td>
      <td>6.26</td>
      <td>2.682051</td>
      <td>3.477778</td>
      <td>0.140946</td>
      <td>5.125400</td>
      <td>3.067400</td>
    </tr>
    <tr>
      <td>Feasibility of Noninvasive Blood Pressure Measurement using a Chest-worn Patch Sensor</td>
      <td>ECG+PCG+PPG</td>
      <td>Internal</td>
      <td>6.60</td>
      <td>5.50</td>
      <td>7.95</td>
      <td>7.37</td>
      <td>1.204545</td>
      <td>1.340000</td>
      <td>0.379662</td>
      <td>1.113000</td>
      <td>1.031800</td>
    </tr>
    <tr>
      <td>Feature Extraction and Parameter Estimation of Vital Signs for Wearable Multi-Channel Patient Monitoring System</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>15.91</td>
      <td>9.65</td>
      <td>18.00</td>
      <td>11.00</td>
      <td>1.131364</td>
      <td>1.139896</td>
      <td>0.262995</td>
      <td>3.920000</td>
      <td>2.395556</td>
    </tr>
    <tr>
      <td>Finger-Wearable Blood Pressure Monitor</td>
      <td>pressure sensor</td>
      <td>Internal</td>
      <td>6.90</td>
      <td>7.00</td>
      <td>10.20</td>
      <td>8.70</td>
      <td>1.478261</td>
      <td>1.242857</td>
      <td>0.662745</td>
      <td>0.689379</td>
      <td>0.588000</td>
    </tr>
    <tr>
      <td>Innovative continuous non-invasive cuffless blood pressure monitoring based on photoplethysmography technology</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>19.35</td>
      <td>8.69</td>
      <td>20.83</td>
      <td>9.66</td>
      <td>1.076486</td>
      <td>1.111623</td>
      <td>0.857653</td>
      <td>0.868655</td>
      <td>0.402843</td>
    </tr>
    <tr>
      <td>KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>5.93</td>
      <td>3.87</td>
      <td>30.15</td>
      <td>18.84</td>
      <td>5.084317</td>
      <td>4.868217</td>
      <td>1.000000</td>
      <td>0.245203</td>
      <td>0.153222</td>
    </tr>
    <tr>
      <td>KD-Informer: Cuff-Less Continuous Blood Pressure Waveform Estimation Approach Based on Single Photoplethysmography</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>6.24</td>
      <td>4.45</td>
      <td>26.40</td>
      <td>17.91</td>
      <td>4.230769</td>
      <td>4.024719</td>
      <td>1.000000</td>
      <td>0.214705</td>
      <td>0.145658</td>
    </tr>
    <tr>
      <td>Measurement of central systolic blood pressure by pulse volume plethysmography with a noninvasive blood pressure monitor.</td>
      <td>ECG+pressure+PPG</td>
      <td>Internal</td>
      <td>6.30</td>
      <td>6.30</td>
      <td>20.00</td>
      <td>10.00</td>
      <td>3.174603</td>
      <td>1.587302</td>
      <td>0.877998</td>
      <td>0.784000</td>
      <td>0.392000</td>
    </tr>
    <tr>
      <td>Measurement of central systolic blood pressure by pulse volume plethysmography with a noninvasive blood pressure monitor.</td>
      <td>ECG+pressure+PPG</td>
      <td>Internal</td>
      <td>6.30</td>
      <td>6.50</td>
      <td>12.90</td>
      <td>5.40</td>
      <td>2.047619</td>
      <td>0.830769</td>
      <td>0.877998</td>
      <td>0.505680</td>
      <td>0.211680</td>
    </tr>
    <tr>
      <td>Non-invasive cuff-less blood pressure estimation using a hybrid deep learning model</td>
      <td>biometrics+ECG+PPG</td>
      <td>Internal</td>
      <td>4.75</td>
      <td>6.09</td>
      <td>17.60</td>
      <td>11.70</td>
      <td>3.705263</td>
      <td>1.921182</td>
      <td>0.262995</td>
      <td>3.832889</td>
      <td>2.548000</td>
    </tr>
    <tr>
      <td>Non-invasive cuffless blood pressure and heart rate monitoring using impedance cardiography</td>
      <td>ICG</td>
      <td>Internal</td>
      <td>4.60</td>
      <td>7.20</td>
      <td>20.00</td>
      <td>9.00</td>
      <td>4.347826</td>
      <td>1.250000</td>
      <td>0.581253</td>
      <td>1.633333</td>
      <td>0.735000</td>
    </tr>
    <tr>
      <td>Non-invasive cuffless blood pressure and heart rate monitoring using impedance cardiography</td>
      <td>ICG</td>
      <td>Internal</td>
      <td>3.80</td>
      <td>4.10</td>
      <td>13.00</td>
      <td>7.00</td>
      <td>3.421053</td>
      <td>1.707317</td>
      <td>0.286914</td>
      <td>2.548000</td>
      <td>1.372000</td>
    </tr>
    <tr>
      <td>Novel algorithms for cardiovascular parameters' estimation for long term monitoring systems</td>
      <td>PPG</td>
      <td>MIMIC</td>
      <td>13.80</td>
      <td>8.60</td>
      <td>15.19</td>
      <td>9.54</td>
      <td>1.100725</td>
      <td>1.109302</td>
      <td>0.286914</td>
      <td>2.977240</td>
      <td>1.869840</td>
    </tr>
    <tr>
      <td>Novel Statistical Post Processing to Improve Blood Pressure Estimation from Smartphone Photoplethysmogram</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>13.27</td>
      <td>8.41</td>
      <td>20.00</td>
      <td>11.00</td>
      <td>1.507159</td>
      <td>1.307967</td>
      <td>0.877998</td>
      <td>0.784000</td>
      <td>0.431200</td>
    </tr>
    <tr>
      <td>Prediction Algorithms for Blood Pressure Based on Pulse Wave Velocity Using Health Checkup Data in Healthy Korean Men: Algorithm Development and Validation</td>
      <td>PPG+PPG</td>
      <td>Internal</td>
      <td>7.69</td>
      <td>6.07</td>
      <td>12.80</td>
      <td>9.30</td>
      <td>1.664499</td>
      <td>1.532125</td>
      <td>0.987214</td>
      <td>0.278756</td>
      <td>0.202533</td>
    </tr>
    <tr>
      <td>Prediction Algorithms for Blood Pressure Based on Pulse Wave Velocity Using Health Checkup Data in Healthy Korean Men: Algorithm Development and Validation</td>
      <td>PPG+PPG</td>
      <td>Internal</td>
      <td>9.73</td>
      <td>6.63</td>
      <td>13.20</td>
      <td>7.90</td>
      <td>1.356629</td>
      <td>1.191554</td>
      <td>1.000000</td>
      <td>0.081615</td>
      <td>0.048845</td>
    </tr>
    <tr>
      <td>Real-time, Cuff-less and Non-invasive Blood Pressure Monitoring</td>
      <td>ultrasound</td>
      <td>Internal</td>
      <td>4.54</td>
      <td>4.22</td>
      <td>11.28</td>
      <td>10.91</td>
      <td>2.484581</td>
      <td>2.585308</td>
      <td>0.999996</td>
      <td>0.104781</td>
      <td>0.101344</td>
    </tr>
    <tr>
      <td>Smartphone-based blood pressure monitoring via the oscillometric finger-pressing method</td>
      <td>pressure+PPG</td>
      <td>Internal</td>
      <td>8.80</td>
      <td>7.70</td>
      <td>13.53</td>
      <td>12.57</td>
      <td>1.537500</td>
      <td>1.632468</td>
      <td>0.677475</td>
      <td>0.883960</td>
      <td>0.821240</td>
    </tr>
    <tr>
      <td>SVR ensemble-based continuous blood pressure prediction using multi-channel photoplethysmogram</td>
      <td>PPG+PPG</td>
      <td>Internal</td>
      <td>6.57</td>
      <td>9.10</td>
      <td>15.43</td>
      <td>8.76</td>
      <td>2.348554</td>
      <td>0.962637</td>
      <td>0.798175</td>
      <td>0.756070</td>
      <td>0.429240</td>
    </tr>
    <tr>
      <td>Validation and acceptability of a cuffless wrist-worn wearable blood pressure monitoring device among users and health care professionals: mixed methods …</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>10.56</td>
      <td>7.67</td>
      <td>10.00</td>
      <td>6.00</td>
      <td>0.946970</td>
      <td>0.782269</td>
      <td>0.506566</td>
      <td>0.980000</td>
      <td>0.588000</td>
    </tr>
    <tr>
      <td>Validation and acceptability of a cuffless wrist-worn wearable blood pressure monitoring device among users and health care professionals: mixed methods …</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>10.56</td>
      <td>7.67</td>
      <td>10.00</td>
      <td>6.00</td>
      <td>0.946970</td>
      <td>0.782269</td>
      <td>0.506566</td>
      <td>0.980000</td>
      <td>0.588000</td>
    </tr>
    <tr>
      <td>Windkessel Model-Based Cuffless Blood Pressure Estimation Using Continuous Wave Doppler Ultrasound System</td>
      <td>ultrasound</td>
      <td>Internal</td>
      <td>9.10</td>
      <td>7.85</td>
      <td>14.29</td>
      <td>8.59</td>
      <td>1.570330</td>
      <td>1.094268</td>
      <td>0.526019</td>
      <td>1.333733</td>
      <td>0.801733</td>
    </tr>
    <tr>
      <td>A new approach for blood pressure estimation based on phonocardiogram</td>
      <td>biometrics+PCG</td>
      <td>Internal</td>
      <td>8.12</td>
      <td>4.90</td>
      <td>13.31</td>
      <td>9.52</td>
      <td>1.639163</td>
      <td>1.942857</td>
      <td>0.766774</td>
      <td>0.705070</td>
      <td>0.504303</td>
    </tr>
    <tr>
      <td>Comparison of Different Machine Learning Techniques for the Cuffless Estimation of Blood Pressure using PPG Signals</td>
      <td>biometrics+PPG</td>
      <td>PPG-BP</td>
      <td>17.52</td>
      <td>10.52</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>1.163242</td>
      <td>1.056084</td>
      <td>0.825889</td>
      <td>0.928949</td>
      <td>0.506409</td>
    </tr>
    <tr>
      <td>Cuffless and Continuous Blood Pressure Monitoring Using a Single Chest-Worn Device</td>
      <td>PPG+SCG</td>
      <td>Internal</td>
      <td>8.64</td>
      <td>4.59</td>
      <td>12.28</td>
      <td>4.05</td>
      <td>1.421296</td>
      <td>0.882353</td>
      <td>0.506566</td>
      <td>1.203440</td>
      <td>0.396900</td>
    </tr>
    <tr>
      <td>Cuffless Blood Pressure Estimation Algorithms for Continuous Health-Care Monitoring</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>14.00</td>
      <td>6.71</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>1.335714</td>
      <td>1.371088</td>
      <td>1.000000</td>
      <td>0.038909</td>
      <td>0.019142</td>
    </tr>
    <tr>
      <td>HYPE: Predicting Blood Pressure from Photoplethysmograms in a Hypertensive Population</td>
      <td>PPG</td>
      <td>EVAL Stress Test</td>
      <td>18.47</td>
      <td>8.92</td>
      <td>26.94</td>
      <td>13.20</td>
      <td>1.458581</td>
      <td>1.479821</td>
      <td>0.286914</td>
      <td>5.280240</td>
      <td>2.587200</td>
    </tr>
    <tr>
      <td>MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks</td>
      <td>ECG+PPG</td>
      <td>MIMIC</td>
      <td>4.41</td>
      <td>2.67</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>4.240363</td>
      <td>3.445693</td>
      <td>1.000000</td>
      <td>0.012217</td>
      <td>0.006011</td>
    </tr>
    <tr>
      <td>MLP-BP: A novel framework for cuffless blood pressure measurement with PPG and ECG signals based on MLP-Mixer neural networks</td>
      <td>ECG+PPG</td>
      <td>MIMIC+UoQ</td>
      <td>5.50</td>
      <td>3.18</td>
      <td>18.70</td>
      <td>9.20</td>
      <td>3.400000</td>
      <td>2.893082</td>
      <td>0.705414</td>
      <td>1.145375</td>
      <td>0.563500</td>
    </tr>
    <tr>
      <td>Multi-level information fusion for learning a blood pressure predictive model using sensor data</td>
      <td>ECG</td>
      <td>CHARIS</td>
      <td>20.81</td>
      <td>11.58</td>
      <td>20.89</td>
      <td>11.76</td>
      <td>1.003844</td>
      <td>1.015544</td>
      <td>0.140946</td>
      <td>10.236100</td>
      <td>5.762400</td>
    </tr>
    <tr>
      <td>Non-Invasive Blood Pressure Estimation from ECG Using Machine Learning Techniques</td>
      <td>ECG</td>
      <td>CHARIS</td>
      <td>10.83</td>
      <td>22.81</td>
      <td>20.89</td>
      <td>11.76</td>
      <td>1.928901</td>
      <td>0.515563</td>
      <td>0.214561</td>
      <td>5.849200</td>
      <td>3.292800</td>
    </tr>
    <tr>
      <td>Pulse arrival time as a surrogate of blood pressure</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>6.77</td>
      <td>7.07</td>
      <td>18.30</td>
      <td>14.70</td>
      <td>2.703102</td>
      <td>2.079208</td>
      <td>0.677475</td>
      <td>1.195600</td>
      <td>0.960400</td>
    </tr>
    <tr>
      <td>Pulse arrival time as a surrogate of blood pressure</td>
      <td>ECG+ICG+PPG</td>
      <td>Internal</td>
      <td>7.14</td>
      <td>7.39</td>
      <td>18.30</td>
      <td>14.70</td>
      <td>2.563025</td>
      <td>1.989175</td>
      <td>0.677475</td>
      <td>1.195600</td>
      <td>0.960400</td>
    </tr>
    <tr>
      <td>Study of cuffless blood pressure estimation method based on multiple physiological parameters</td>
      <td>ECG+PPG</td>
      <td>MIMIC+VitalDB</td>
      <td>12.57</td>
      <td>6.71</td>
      <td>20.38</td>
      <td>11.08</td>
      <td>1.621321</td>
      <td>1.651267</td>
      <td>1.000000</td>
      <td>0.059887</td>
      <td>0.032559</td>
    </tr>
    <tr>
      <td>The accuracy of blood pressure measurement by a smartwatch and a portable health device</td>
      <td>ECG+PPG</td>
      <td>Internal</td>
      <td>21.18</td>
      <td>10.40</td>
      <td>28.90</td>
      <td>13.50</td>
      <td>1.364495</td>
      <td>1.298077</td>
      <td>0.982765</td>
      <td>0.666400</td>
      <td>0.311294</td>
    </tr>
    <tr>
      <td>The influence of physiological characteristics on blood pressure estimation using only PPG signals</td>
      <td>biometrics+PPG</td>
      <td>PPG-BP</td>
      <td>11.46</td>
      <td>6.60</td>
      <td>20.38</td>
      <td>11.11</td>
      <td>1.778360</td>
      <td>1.683333</td>
      <td>0.526019</td>
      <td>1.902133</td>
      <td>1.036933</td>
    </tr>
    <tr>
      <td>Towards a portable-noninvasive blood pressure monitoring system utilizing the photoplethysmogram signal</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>5.88</td>
      <td>1.92</td>
      <td>24.00</td>
      <td>10.00</td>
      <td>4.081633</td>
      <td>5.208333</td>
      <td>0.999961</td>
      <td>0.262793</td>
      <td>0.109497</td>
    </tr>
    <tr>
      <td>Wrist-worn blood pressure tracking in healthy free-living individuals using neural networks</td>
      <td>PPG</td>
      <td>Internal</td>
      <td>7.46</td>
      <td>6.20</td>
      <td>2.40</td>
      <td>2.00</td>
      <td>0.321716</td>
      <td>0.322581</td>
      <td>0.506566</td>
      <td>0.235200</td>
      <td>0.196000</td>
    </tr>
  </tbody>
</table>